@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .text {
    font-weight: 300;
  }

  .list {
    display: grid;

    .title, .text {
      text-align: left;
    }

  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .title {
    padding-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: "\25CF";
      font-size: 14px;
      top: 0;
      left: 10px;
    }
  }

  @media screen and (min-width: $land-768) {
    padding: 80px 0;

    .list {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      gap: 80px 20px;
      position: relative;
      z-index: 2;
      min-height: 388px;
    }

    .item {
      max-width: 319px;
      width: 100%;
      justify-self: stretch;
      display: flex;
      flex-direction: column;

      &:nth-child(even) {
        align-self: flex-end;
      }

      &:last-child {
        margin-left: auto;
      }
    }

    .icon {
      width: 50px;
      height: 50px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 45px 0;

    .title {
      text-align: left;
    }

    .list {
      grid-template-columns: repeat(1fr);
      gap: 40px;
      margin-top: 40px;
    }

    .icon {
      width: 40px;
      height: 40px;
    }
  }
}