@import "../../../styles/variables";

.wrap {
  position: relative;
  width: 100%;

  .text {
    font-weight: 300;
  }

  .image {
    object-fit: cover;
    width: auto;
  }

  @media screen and (min-width: $land-768) {
    padding: 80px 0;

    .container {
      display: flex;
      justify-content: space-between;
      border-radius: 25px;
      background: linear-gradient(92deg, #C0CFC0 2.09%, #E3E5E2 49.02%, #E4E6E4 99.7%);
      min-height: 331px;
      position: relative;
    }

    .subtitle {
      margin: 5px 0 15px;
    }

    .item {
      max-width: 500px;
      width: 45%;
      position: relative;
      z-index: 2;
      flex-shrink: 0;
      padding: 50px;
      text-align: center;
    }

    .image {
      max-width: 595px;
      max-height: 446px;
      width: 48%;
      height: 135%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 45px 0;

    .container {
      padding: 0;
    }

    .subtitle {
      margin: 10px 0 20px;
    }

    .item {
      padding: 0 20px;

      &.images {
        padding: 0;
        margin-top: 60px;
        display: flex;
      }
    }

    .image {
      max-width: 33%;
    }
  }
}