@import '../../../styles/variables';

.accordion {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .item {
    padding: 12px 0;
    border-bottom: 1px solid $colored;

    &.itemActive {
      // padding-bottom: 29px;

      .plus {
        display: none;
      }

      .minus {
        display: block;
      }

      .content {
        margin-top: 15px;
        padding-bottom: 5px;
      }
    }
  }

  .title {
    line-height: 120%;
    cursor: pointer;
    color: $colored;
    text-align: left;
    font-weight: 600;
    font-size: 16px;

    &Wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 10%;
      width: 100%;
      background: transparent;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .minus {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    overflow: hidden;
    height: 0;
    transition: all 0.4s ease;
    color: $colored;
    width: 90%;
    max-width: 630px;

    .title {
      margin-bottom: 15px;
    }
    
    p:not(:last-child) {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      margin-top: 12px;
    }
  }

  .flexCenter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.bordered {
    gap: 15px 0;

    .item {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 0;
      border-left: 8px solid #BDCECB;
    }

    .icon {
      display: none!important;
    }
  }

  @media (max-width: $land-768) {
    // gap: 8px;

    .item {
      padding: 10px 0;
    }

    .title {
      gap: 30px;
      text-align: left;
      font-size: 14px;
  
      &Wrap {
        flex-basis: 100%;
        gap: 20px;
      }

      &Block {
        gap: 4px;
      }
    }

    .content {
      width: 100%;
      padding-right: 0;
      font-size: 14px;
      max-width: unset;
    }

    &.bordered {
      .item {
        padding: 0 0 0 15px ;
      }
    }
  }
}