@import "../../../styles/variables";

.wrap {
  position: relative;
  width: 100%;

  .title {
    color: #6D8572;
  }

  .text {
    font-weight: 300;
  }

  .spin {
    width: 253px;
    height: auto;
    animation: spin 5s linear infinite;
    transform-origin: center center;
    border-radius: 40%;
    overflow: hidden;
  }

  .center {
    text-align: center;
  }

  @media screen and (min-width: $land-768) {
    padding: 80px 0;

    .container {
      display: flex;
    }

    .center {
      padding: 15px;
    }

    .spin {
      max-width: 530px;
      width: 100%;
    }

    .last {
      align-self: flex-end;
      padding-bottom: 100px;
      max-width: 220px;
      margin-left: auto;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .last {
      align-self: flex-end;
      margin-bottom: 13px;
    }

    .center {
      order: 99;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}