@import "../../../styles/variables";

.wrap {
  position: relative;
  width: 100%;

  p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 150%;
  }

  ul{
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
    font-size: 16px;
    line-height: 120%;

    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  ol {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
    font-size: 16px;
    line-height: 120%;

    li {
      list-style-position: inside;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-weight: 500;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $land-768) {
    padding: 80px 0;

    h1 {
      font-size: 50px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 35px;
      margin-bottom: 15px;
      margin-top: 25px;
    }

    p {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 120%;
    }

    ul, ol {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 50px 0;

    h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 28px;
      margin-top: 25px;
    }
  }
}